<!DOCTYPE html>
<html>
  <head>
    <style>
      table, thead, tbody{
        border:1px solid red;
      }
    </style>
  </head>
  <body>

   <table> 
     <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Weekly Goals
        </th>
        <th>
          Daily Goals
        </th>
        <th>
          Verify Goals
        </th>
        <th>
          Done Goals
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.first_name }}</td>
        {% if 'Weekly' in goal_status.status_name %} 
        <td>{{ goal_name }} {{ goal_id }} </td>
        {% else %}
        <td>----</td>
        {% endif %}
        {% if 'Daily' in goal_status.status_name %}
        <td> {{ goal_name }} {{ goal_id }} </td>
       	{% else %}
       	<td>----</td>
       	{% endif %}
        {% if 'Verify' in goal_status.status_name %}
        <td> {{ goal_name }} {{ goal_id }} </td>
       	{% else %}
       	<td>----</td>
       	{% endif %}
        {% if 'Done' in goal_status.status_name %}
        <td> {{ goal_name }} {{ goal_id }} </td>
       	{% else %}
       	<td>----</td>
       	{% endif %}

      </tr>
    </tbody>
   </table>
  </body>
</html>
