<!DOCTYPE html>
<html>
  <head>
    <style>
     table {
       border-collapse : collapse;
     }

     table, th, td {
       border : 1px solid red;
     } 
    </style>
  </head>
  <body>

   <table border="1"> 
     <thead>
       <tr>
        <th>
          User
        </th>
        <th>
          Weekly Goals
        </th>
        <th>
          Daily Goals
        </th>
        <th>
          Verify Goals
        </th>
        <th>
          Done Goals
        </th>
       </tr>
    </thead>
    <tbody>
      {% if scrumy_goals is not None %}
      {% if users is not None %}
      {% for user in users %}
      {% if user.rname.all is None and user.scrumygoals_set.all is not None %}
      {% for goal in user.scrumygoals_set.all %}
      
      <tr>
        <td> {{ user.username }} </td>
        <td>
        {% if goal in weekly_goals %}
        {{ goal.goal_name }} {{ goal.goal_id }}
        {% endif %}
        </td>
        <td>
        {% if goal in daily_goals %}
       	{{ goal.goal_name }} {{ goal.goal_id }}
	{% endif %}
        </td>
        <td>
        {% if goal in verify_goals %}
       	{{ goal.goal_name }} {{ goal.goal_id }}
	{% endif %}
        </td>
        <td>
        {% if goal in done_goals %}
       	{{ goal.goal_name }} {{ goal.goal_id }}
	{% endif %}
        </td>
      </tr>
  
      {% endfor %}
      {% endif %}
      {% if user.rname.all is not None %}
      {% for goal in user.rname.all %}
      <tr>
	<td> {{ user.username }} </td>
        <td>
	{% if goal in weekly_goals %}
        {{ goal.goal_name }} {{ goal.goal_id }}
        {% endif %}
        </td>
	<td>
        {% if goal in daily_goals %}
        {{ goal.goal_name }} {{ goal.goal_id }}
        {% endif %}
        </td>
	<td>
	{% if goal in verify_goals %}
        {{ goal.goal_name }} {{ goal.goal_id }}
        {% endif %}
        </td>
       	<td>
        {% if goal in done_goals %}
        {{ goal.goal_name }} {{ goal.goal_id }}
        {% endif %}
        </td>
      </tr>

      {% endfor %}
      {% endif %}
      
      {% endfor %}
      {% endif %}
      {% endif %}
    </tbody>
   </table>
  </body>
</html>
